@charset "UTF-8";
@font-face {
  font-family: "Selecta";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Selecta-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Selecta";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Selecta-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Selecta";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Selecta-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Rhymes";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/RhymesDisplay-UltraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Rhymes";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/RhymesDisplay-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/NotoSansKR-Regular.woff2") format("woff2");
}
@keyframes ani__clock {
  0% {
    transfrom: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 폰트 관련 */
.noto {
  font-family: "Noto Sans KR", sans-serif;
}

.rhyme {
  font-family: "Rhymes", sans-serif;
}

.selecta {
  font-family: "Selecta", sans-serif;
}

/**모바일/pc 관련*/
@media (max-width: 720px) {
  .pc-only {
    display: none !important;
  }
}

@media (min-width: 721px) {
  .mb-only {
    display: none !important;
  }
}

/** 접근성 관련 **/
.blind {
  font-size: 0;
  position: absolute;
  display: block;
  z-index: -9999;
  text-indent: 9999;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* uppercase */
.upper {
  text-transform: uppercase;
}

/* 텍스트 */
.point {
  color: #0f0;
}

@media (max-width: 720px) {
  .text-box {
    padding-right: 3rem;
  }
}
.text-eng {
  font-family: "Selecta", sans-serif;
  font-weight: 500;
  font-size: 5.6rem;
  line-height: 1.1;
}
.text-eng .line-wrap:first-child {
  position: relative;
  margin-left: 14rem;
}
.text-eng .line-wrap:first-child::before {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  margin-right: 0.4em;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border-radius: 100%;
  background: #0f0;
}
@media (max-width: 720px) {
  .text-eng .line-wrap:first-child {
    margin-left: 6rem;
  }
}
.text-eng + .text-ko {
  margin-top: 7rem;
}
@media (max-width: 720px) {
  .text-eng {
    font-size: 3rem;
    letter-spacing: -0.025em;
  }
}
.text-ko {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
@media (max-width: 720px) {
  .text-ko {
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: -0.025em;
  }
}
.text-small, .clock__text {
  font-family: "Selecta", sans-serif;
  letter-spacing: -0.01em;
  line-height: 1.6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

:root {
  font-size: 10px;
}
@media (max-width: 1920px) {
  :root {
    font-size: 0.520833vw;
  }
}
@media (max-width: 720px) {
  :root {
    font-size: 1.38889vw;
  }
}

html {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a,
img {
  display: block;
}

button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

body {
  word-break: keep-all;
  font-size: 1.6rem;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
  position: relative;
  line-height: 1;
  background: #000;
  color: #fff;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans KR", sans-serif;
}

button {
  font-family: "Noto Sans KR", sans-serif;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* header */
.header {
  position: relative;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  padding: 0 4rem 0 4rem;
  position: absolute;
  width: 100%;
  z-index: 999;
  bottom: 0;
  padding-bottom: 22.5rem;
}
@media (max-width: 720px) {
  .header__nav {
    padding: 0 3rem 0 3rem;
  }
}
@media (max-width: 720px) {
  .header__nav {
    position: fixed;
    top: 0;
    bottom: unset;
    left: 0;
    width: 100%;
    height: 11rem;
    padding-bottom: 0;
  }
}
.header__bg {
  width: 100vw;
  height: 100%;
  position: relative;
  top: 22.5rem;
  z-index: 0;
  border-radius: 3rem;
  overflow: hidden;
  max-width: 188.2rem;
  margin: 0 auto;
}
.header__video {
  width: 100%;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3rem;
  overflow: hidden;
}

.intro {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
  flex-direction: column;
  padding: 0 4rem 0 4rem;
  height: 100vh;
  padding-top: 9.4rem;
  padding-bottom: 3rem;
  z-index: 1;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
}
@media (max-width: 720px) {
  .intro {
    padding: 0 3rem 0 3rem;
  }
}
@media (max-width: 720px) {
  .intro {
    padding-top: 17rem;
    padding-bottom: 0;
  }
}
.intro__title {
  width: 117.9rem;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .intro__title {
    max-width: 55rem;
  }
}
.intro__geo {
  font-family: "Selecta", sans-serif;
  font-size: 3.6rem;
  margin-top: 3rem;
  text-align: center;
}
@media (max-width: 720px) {
  .intro__geo {
    font-size: 2.6rem;
  }
}
.intro__geo-text:first-child {
  word-spacing: 0.25em;
  margin-right: 6.5rem;
}
@media (max-width: 720px) {
  .intro__geo-text:first-child {
    margin-right: 3.6rem;
  }
}
.intro__deco {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  flex-direction: column;
  padding: 0 4rem 0 4rem;
  font-weight: 300;
  font-family: "Selecta", sans-serif;
  color: rgb(85, 85, 85);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 9.4rem;
}
@media (max-width: 720px) {
  .intro__deco {
    padding: 0 3rem 0 3rem;
  }
}
@media (max-width: 720px) {
  .intro__deco {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media (max-width: 720px) {
  .intro__deco {
    top: 11rem;
    height: auto;
  }
}
.intro__deco-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
}
.intro__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  padding: 0 4rem 0 4rem;
  font-family: "Selecta", sans-serif;
  font-size: 3.6rem;
  width: 100%;
  left: 0;
  bottom: 3rem;
  position: absolute;
}
@media (max-width: 720px) {
  .intro__time {
    padding: 0 3rem 0 3rem;
  }
}
@media (max-width: 720px) {
  .intro__time {
    font-size: 2.6rem;
  }
}

.home__icon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  background: #0f0;
}
@media (max-width: 720px) {
  .home__icon {
    width: 5rem;
    height: 5rem;
  }
}

.menu {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
}
.menu-item {
  color: opacity 0.3s, transition 0.3s;
}
.menu-btn {
  width: 6rem;
  height: 6rem;
  background: url("../assets/icon/menu-btn.svg#menu-btn--black");
}

main {
  padding-top: 22.5rem;
}
@media (max-width: 720px) {
  main {
    padding-top: 0;
  }
}

.area[data-area="1"] .text-box {
  padding-left: 17.7%;
}
.area[data-area="1"] .text-box[data-text="1"] {
  margin-top: -22.5rem;
  position: relative;
  z-index: 5;
}
@media (max-width: 720px) {
  .area[data-area="1"] .text-box[data-text="1"] {
    margin-top: 0;
  }
}
.area[data-area="1"] .text-box[data-text="2"] {
  position: relative;
  top: -10rem;
}
.area[data-area="1"] .text-box[data-text="3"] {
  margin-top: 48rem;
  padding-left: 49.27%;
}
@media (max-width: 720px) {
  .area[data-area="1"] .text-box[data-text="3"] {
    padding-left: 26rem;
  }
}
.area[data-area="1"] .text-box[data-text="3"] .text-ko {
  padding-left: 0;
}
@media (max-width: 720px) {
  .area[data-area="1"] .text-box {
    padding-left: 7rem;
  }
}
.area[data-area="1"] .text-ko {
  padding-left: 30%;
}
@media (max-width: 720px) {
  .area[data-area="1"] .text-ko {
    padding-left: 0;
  }
}
.area[data-area="2"] {
  padding: 25rem 0 30rem 0;
  margin-top: 12rem;
}

.card img {
  border-radius: 3rem;
  width: 56rem;
}
@media (max-width: 720px) {
  .card img {
    width: 35.1rem;
  }
}
.card-slider {
  overflow-x: scroll;
  margin-top: 51rem;
}
.card-slider__inner {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 30rem;
  flex-direction: row;
}

.time {
  position: relative;
}
.time__text {
  position: relative;
  z-index: 1;
  font-family: "Rhymes", sans-serif;
  font-size: 23rem;
  font-weight: 100;
  text-transform: uppercase;
}
@media (max-width: 720px) {
  .time__text {
    font-size: 16rem;
    line-height: 15rem;
  }
}
.time__text:nth-child(1) {
  margin-left: 70rem;
}
.time__deco {
  font-weight: 300;
  font-family: "Selecta", sans-serif;
  color: rgb(85, 85, 85);
  position: absolute;
  top: 40rem;
  left: 4rem;
}
@media (max-width: 720px) {
  .time__deco {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
.time__deco-item:nth-child(2) {
  margin-top: 3ch;
}

.clock {
  width: 25.4rem;
  height: 25.4rem;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .clock {
    width: 15.2rem;
    height: 15.2rem;
  }
}
.clock__min, .clock__sec, .clock__hour {
  transform-origin: 50%;
  transform: rotate(0);
}
.clock__text {
  position: absolute;
  top: 50%;
  left: calc(100% + 1.2rem);
  transform: translateY(-50%);
  white-space: nowrap;
}
@media (max-width: 720px) {
  .clock__text {
    display: none;
  }
}
.clock-group-hour, .clock-group-sec, .clock-group-min {
  transform-origin: 50%;
  transform: rotate(0);
  animation-name: ani__clock;
}
.clock-group-hour {
  animation-duration: 43200s;
  animation-timing-function: linear;
}
.clock-group-sec {
  animation-duration: 60s;
  animation-timing-function: steps(60);
}
.clock-group-min {
  animation-duration: 3600s;
  animation-timing-function: linear;
}
.clock-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.clock:nth-child(1) {
  top: -26rem;
  left: -45.5rem;
}
.clock:nth-child(2) {
  top: -15rem;
  right: -46.4rem;
}
.clock:nth-child(3) {
  top: -14rem;
  left: -67.5rem;
}
.clock:nth-child(4) {
  top: -11rem;
  right: -57rem;
}
.clock:nth-child(5) {
  top: -16rem;
  left: -52rem;
}
.clock:nth-child(6) {
  top: 16rem;
  right: -37.6rem;
}
.clock:nth-child(7) {
  top: 8rem;
  left: -10.6rem;
}/*# sourceMappingURL=style.css.map */