@charset "UTF-8";
@font-face {
  font-family: "Selecta";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Selecta-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Selecta";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Selecta-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Selecta";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Selecta-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Rhymes";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/RhymesDisplay-UltraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Rhymes";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/RhymesDisplay-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/NotoSansKR-Regular.woff2") format("woff2");
}
@keyframes ani__clock {
  0% {
    transfrom: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 폰트 관련 */
.noto {
  font-family: "Noto Sans KR", sans-serif;
}

.rhyme {
  font-family: "Rhymes", sans-serif;
}

.selecta {
  font-family: "Selecta", sans-serif;
}

/**모바일/pc 관련*/
@media (max-width: 720px) {
  .pc-only {
    display: none !important;
  }
}

@media (min-width: 721px) {
  .mb-only {
    display: none !important;
  }
}

/** 접근성 관련 **/
.blind {
  font-size: 0;
  position: absolute;
  display: block;
  z-index: -9999;
  text-indent: 9999;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* uppercase */
.upper {
  text-transform: uppercase;
}

/* 텍스트 */
.point {
  color: #0f0;
}

.text-eng, .team-list__title h4 {
  font-family: "Selecta", sans-serif;
  font-weight: 500;
  font-size: 5.6rem;
  line-height: 1.1;
}
.text-eng .line-wrap:first-child, .team-list__title h4 .line-wrap:first-child {
  position: relative;
  margin-left: 14rem;
}
.text-eng .line-wrap:first-child::before, .team-list__title h4 .line-wrap:first-child::before {
  content: "";
  top: 50%;
  transform: translateY(-25%);
  margin-right: 0.4em;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border-radius: 100%;
  background: #0f0;
}
@media (max-width: 720px) {
  .text-eng .line-wrap:first-child::before, .team-list__title h4 .line-wrap:first-child::before {
    width: 1.2rem;
    height: 1.2rem;
  }
}
@media (max-width: 720px) {
  .text-eng .line-wrap:first-child, .team-list__title h4 .line-wrap:first-child {
    margin-left: 5rem;
  }
}
.text-eng + .text-ko, .team-list__title h4 + .text-ko {
  margin-top: 7rem;
}
@media (max-width: 720px) {
  .text-eng, .team-list__title h4 {
    font-size: 3rem;
    letter-spacing: -0.025em;
  }
}
.text-eng-rg, .value__cate, .team-list__sub-desc:nth-child(2) {
  font-size: 2.4rem;
  font-family: "Selecta", sans-serif;
  line-height: 2.8rem;
  font-weight: 300;
  letter-spacing: -0.03em;
}
.text-eng-rg + .text-ko, .value__cate + .text-ko, .team-list__sub-desc:nth-child(2) + .text-ko {
  margin-top: 3rem;
}
.text-eng-md, .team-list__main-desc {
  font-family: "Selecta", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: -0.02em;
}
.text-eng-lg {
  font-family: "Selecta", sans-serif;
  font-size: 4.6rem;
  font-weight: 300;
  line-height: 5rem;
}
.text-ko {
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.03em;
}
@media (max-width: 720px) {
  .text-ko {
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: -0.025em;
  }
}
.text-rg {
  letter-spacing: -0.02em;
  font-family: "Selecta", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 2rem;
}
.text-small, .clock__text {
  font-family: "Selecta", sans-serif;
  letter-spacing: -0.01em;
  line-height: 1.6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}
@media (max-width: 720px) {
  .text-small, .clock__text {
    letter-spacing: -0.03em;
    font-size: 1.8rem;
  }
}
.text-xs {
  font-family: "Selecta", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
}
@media (max-width: 720px) {
  .text-xs {
    letter-spacing: -0.025em;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
.text-head {
  font-size: 18rem;
  line-height: 16rem;
  letter-spacing: -0.01em;
}
@media (max-width: 720px) {
  .text-head {
    letter-spacing: -0.02em;
    font-size: 14rem;
    line-height: 13rem;
  }
}
.text-head-md {
  font-family: "Rhymes", sans-serif;
  letter-spacing: -0.01em;
  font-size: 20rem;
  font-weight: 100;
  line-height: 18rem;
}
@media (max-width: 720px) {
  .text-head-md {
    letter-spacing: -0.025em;
    font-size: 16rem;
    line-height: 15rem;
  }
}

.img-box img {
  width: 100%;
}

/* 스크롤러 */
.horizontal-section {
  position: sticky;
  height: 100vh;
}

:root {
  font-size: 10px;
}
@media (max-width: 1920px) {
  :root {
    font-size: 0.520833vw;
  }
}
@media (max-width: 720px) {
  :root {
    font-size: 1.38889vw;
  }
}

html {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a,
img {
  display: block;
}

button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

body {
  word-break: keep-all;
  font-size: 1.6rem;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
  position: relative;
  line-height: 1;
  background: #000;
  color: #fff;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans KR", sans-serif;
}

button {
  font-family: "Noto Sans KR", sans-serif;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* header */
.header {
  position: relative;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  padding: 0 4rem 0 4rem;
  position: absolute;
  width: 100%;
  z-index: 999;
  bottom: 0;
  padding-bottom: 22.5rem;
}
@media (max-width: 720px) {
  .header__nav {
    padding: 0 3rem 0 3rem;
  }
}
@media (max-width: 720px) {
  .header__nav {
    position: fixed;
    top: 0;
    bottom: unset;
    left: 0;
    width: 100%;
    height: 11rem;
    padding-bottom: 0;
  }
}
.header__bg {
  width: 100vw;
  height: 100%;
  position: relative;
  top: 22.5rem;
  z-index: 0;
  border-radius: 3rem;
  overflow: hidden;
  max-width: 188.2rem;
  margin: 0 auto;
}
.header__video {
  width: 100%;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3rem;
  overflow: hidden;
}

.intro {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
  flex-direction: column;
  padding: 0 4rem 0 4rem;
  height: 100vh;
  padding-top: 9.4rem;
  padding-bottom: 3rem;
  z-index: 1;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
}
@media (max-width: 720px) {
  .intro {
    padding: 0 3rem 0 3rem;
  }
}
@media (max-width: 720px) {
  .intro {
    padding-top: 17rem;
    padding-bottom: 0;
  }
}
.intro__title {
  width: 117.9rem;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .intro__title {
    max-width: 55rem;
  }
}
.intro__geo {
  font-family: "Selecta", sans-serif;
  font-size: 3.6rem;
  margin-top: 3rem;
  text-align: center;
}
@media (max-width: 720px) {
  .intro__geo {
    font-size: 2.6rem;
  }
}
.intro__geo-text:first-child {
  word-spacing: 0.25em;
  margin-right: 6.5rem;
}
@media (max-width: 720px) {
  .intro__geo-text:first-child {
    margin-right: 3.6rem;
  }
}
.intro__deco, .member__deco {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  flex-direction: column;
  padding: 0 4rem 0 4rem;
  font-weight: 300;
  font-family: "Selecta", sans-serif;
  color: rgb(85, 85, 85);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 9.4rem;
}
@media (max-width: 720px) {
  .intro__deco, .member__deco {
    padding: 0 3rem 0 3rem;
  }
}
@media (max-width: 720px) {
  .intro__deco, .member__deco {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media (max-width: 720px) {
  .intro__deco, .member__deco {
    top: 11rem;
    height: auto;
  }
}
.intro__deco-item, .member__deco-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
}
.intro__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  padding: 0 4rem 0 4rem;
  font-family: "Selecta", sans-serif;
  font-size: 3.6rem;
  width: 100%;
  left: 0;
  bottom: 3rem;
  position: absolute;
}
@media (max-width: 720px) {
  .intro__time {
    padding: 0 3rem 0 3rem;
  }
}
@media (max-width: 720px) {
  .intro__time {
    font-size: 2.6rem;
  }
}

.home__icon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  background: #0f0;
}
@media (max-width: 720px) {
  .home__icon {
    width: 5rem;
    height: 5rem;
  }
}

.menu {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
}
.menu-item {
  color: opacity 0.3s, transition 0.3s;
}
.menu-btn {
  width: 6rem;
  height: 6rem;
  background: url("../assets/icon/menu-btn.svg#menu-btn--black");
}

main {
  padding-top: 22.5rem;
}
@media (max-width: 720px) {
  main {
    padding-top: 0;
  }
}

.area[data-area="1"] .text-box {
  padding-left: 17.7%;
}
@media (max-width: 720px) {
  .area[data-area="1"] .text-box {
    padding-right: 3rem;
  }
}
.area[data-area="1"] .text-box[data-text="1"] {
  margin-top: -22.5rem;
  position: relative;
  z-index: 5;
}
@media (max-width: 720px) {
  .area[data-area="1"] .text-box[data-text="1"] {
    margin-top: 0;
  }
}
.area[data-area="1"] .text-box[data-text="2"] {
  position: relative;
  top: -10rem;
}
.area[data-area="1"] .text-box[data-text="3"] {
  margin-top: 48rem;
  padding-left: 49.27%;
}
@media (max-width: 720px) {
  .area[data-area="1"] .text-box[data-text="3"] {
    padding-left: 26rem;
  }
}
.area[data-area="1"] .text-box[data-text="3"] .text-ko {
  padding-left: 0;
}
@media (max-width: 720px) {
  .area[data-area="1"] .text-box {
    padding-left: 7rem;
  }
}
.area[data-area="1"] .text-ko {
  padding-left: 30%;
}
@media (max-width: 720px) {
  .area[data-area="1"] .text-ko {
    padding-left: 0;
  }
}
.area[data-area="2"] {
  padding: 25rem 0 30rem 0;
  margin-top: 12rem;
}
.area[data-area="3"] {
  overflow: hidden;
  position: relative;
  margin-top: 60rem;
}
.area[data-area="3"] .img-box {
  width: 82.6rem;
  margin: 0 auto;
}
.area[data-area="3"] .img-box img {
  border-radius: 3rem;
}
@media (max-width: 720px) {
  .area[data-area="3"] .img-box {
    width: 100%;
  }
}
.area[data-area="3"] .text-box[data-text="1"] {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}
.area[data-area="3"] .text-box[data-text="2"] {
  text-align: center;
  position: absolute;
  top: 40rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.area[data-area="3"] .text-box[data-text="3"] {
  text-align: center;
  position: absolute;
  bottom: 50rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.area[data-area="3"] .text-box .text-head + .text-small, .area[data-area="3"] .text-box .text-head + .clock__text {
  margin-top: 2rem;
}
.area[data-area="4"] {
  margin-top: 5rem;
  position: relative;
}
@media (max-width: 720px) {
  .area[data-area="4"] {
    margin-top: 6rem;
  }
}
.area[data-area="4"] .img-box {
  width: 82.6rem;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .area[data-area="4"] .img-box {
    width: 100%;
  }
}
.area[data-area="4"] .text-box[data-text="1"] {
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
}
.area[data-area="4"] .text-box[data-text="2"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 720px) {
  .area[data-area="4"] .text-box[data-text="2"] {
    left: 0;
    transform: translateY(-50%);
    padding-left: 7rem;
  }
}
.area[data-area="4"] .text-box[data-text="2"] .text-eng, .area[data-area="4"] .text-box[data-text="2"] .team-list__title h4, .team-list__title .area[data-area="4"] .text-box[data-text="2"] h4 {
  white-space: nowrap;
}
.area[data-area="4"] .text-box[data-text="2"] .text-ko {
  padding-left: 49.27%;
  white-space: nowrap;
}
@media (max-width: 720px) {
  .area[data-area="4"] .text-box[data-text="2"] .text-ko {
    padding-left: 0;
  }
}
.area[data-area="4"] .text-box[data-text="3"] {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
}
.area[data-area="5"] {
  margin-top: 26rem;
}
@media (max-width: 720px) {
  .area[data-area="5"] {
    margin-top: 39rem;
  }
}
.area[data-area="5"] .text-box[data-text="1"] {
  max-width: 132rem;
  margin: 0 auto;
  padding: 10rem 2rem 11rem 2rem;
  padding-left: 66rem;
}
@media (max-width: 720px) {
  .area[data-area="5"] .text-box[data-text="1"] {
    max-width: unset;
    width: 100%;
    padding: 8rem 3rem 15rem 22rem;
  }
}
.area[data-area="6"] {
  margin-top: 40rem;
  height: 350vh;
  background: rgb(32, 32, 201);
}
.area[data-area="6"] .text-box[data-text="1"] {
  position: absolute;
  color: #000;
  text-align: center;
  bottom: 15%;
}
@media (max-width: 720px) {
  .area[data-area="6"] .text-box[data-text="1"] .text-eng-rg, .area[data-area="6"] .text-box[data-text="1"] .value__cate, .area[data-area="6"] .text-box[data-text="1"] .team-list__sub-desc:nth-child(2) {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
@media (max-width: 720px) {
  .area[data-area="6"] .text-box[data-text="1"] {
    bottom: 5%;
  }
}
.area[data-area="6"] .text-container {
  margin-bottom: 10vh;
}
@media (max-width: 720px) {
  .area[data-area="6"] .text-container {
    margin-bottom: 20vh;
  }
}
.area[data-area="6"] .horizontal-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  top: 0;
  left: 0;
}
.area[data-area="6"] .img-box {
  width: 174.4rem;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .area[data-area="6"] .img-box {
    width: 80vh;
    transform: rotate(90deg);
    margin-top: -10vh;
  }
}
.area[data-area="7"] {
  padding-top: 56rem;
}
.area[data-area="7"] .horizontal-mover__line {
  white-space: nowrap;
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 9rem;
  flex-direction: row;
}
.area[data-area="7"] .horizontal-mover__line .text-eng-lg {
  text-transform: none;
}
.area[data-area="7"] .horizontal-mover__line .text-small, .area[data-area="7"] .horizontal-mover__line .clock__text {
  text-align: center;
}
.area[data-area="8"] {
  height: 200vh;
}
.area[data-area="8"] .horizontal-section {
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
  gap: 0;
  flex-direction: row;
  padding: 3rem 2rem;
  top: 0;
}
@media (max-width: 720px) {
  .area[data-area="8"] .horizontal-section {
    padding: 0;
  }
}
.area[data-area="8"] .img-container {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
}
.area[data-area="8"] .img-box {
  width: 30vw;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 3rem;
}
@media (max-width: 720px) {
  .area[data-area="8"] .img-box {
    width: 470px;
  }
}
.area[data-area="8"] .img-box img {
  width: 100vw;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.area[data-area="8"] .text-container {
  width: 100vw;
  flex-shrink: 0;
  margin-left: 2.86%;
}
@media (max-width: 720px) {
  .area[data-area="8"] .text-container {
    margin-left: 7rem;
  }
}
.area[data-area="8"] .text-box {
  white-space: nowrap;
}
.area[data-area="8"] .text-ko {
  padding-left: 34.45%;
}
@media (max-width: 720px) {
  .area[data-area="8"] .text-ko {
    padding-left: 0;
    margin-top: 6rem;
  }
}
.area[data-area="9"] {
  overflow-x: scroll;
}
.area[data-area="9"] .horizontal-section {
  display: flex;
}
@media (max-width: 720px) {
  .area[data-area="9"] .text-rg {
    font-size: 1.8rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
  }
}
.area[data-area="9"] .page {
  padding: 4rem 0;
  padding-top: 15rem;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page {
    padding: 6rem 0;
    padding-top: 12rem;
  }
}
.area[data-area="9"] .page-container {
  display: flex;
  gap: 0 40rem;
  background: #0f0;
  color: #000;
  border-radius: 0 3rem 3rem 0;
}
.area[data-area="9"] .page[data-page="1"] {
  display: flex;
  padding-left: 160rem;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="1"] {
    padding-left: 90rem;
  }
}
.area[data-area="9"] .page[data-page="1"] [data-text="1"] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}
.area[data-area="9"] .page[data-page="1"] [data-text="1"] .text-rg {
  margin-top: 10rem;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="1"] [data-text="1"] .text-rg {
    margin-top: 2rem;
  }
}
.area[data-area="9"] .page[data-page="1"] [data-text="2"] {
  position: relative;
  z-index: 1;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="1"] [data-text="2"] {
    transform: translateX(-20%);
  }
}
.area[data-area="9"] .page[data-page="1"] [data-text="2"] .text-head-md {
  text-align: right;
}
.area[data-area="9"] .page[data-page="1"] [data-text="2"] .img-box {
  width: 49rem;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 10rem;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="1"] [data-text="2"] .img-box {
    width: 49.7rem;
    margin-top: 2rem;
  }
}
.area[data-area="9"] .page[data-page="1"] [data-text="2"] .img-box img {
  border-radius: 3rem;
}
.area[data-area="9"] .page[data-page="2"] {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="2"] {
    justify-content: flex-end;
  }
}
.area[data-area="9"] .page[data-page="2"] .text-box[data-text="1"] {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
  height: 114rem;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="2"] .text-box[data-text="1"] {
    justify-content: flex-end;
    height: 86rem;
    max-height: 94%;
  }
}
.area[data-area="9"] .page[data-page="2"] .text-box[data-text="1"] .line {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.area[data-area="9"] .page[data-page="2"] .text-box[data-text="1"] .line:nth-child(2) {
  margin-left: 1.3ch;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="2"] .text-box[data-text="1"] .text-head-md {
    flex-grow: 1;
  }
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="2"] .text-box[data-text="1"] .text-eng-rg, .area[data-area="9"] .page[data-page="2"] .text-box[data-text="1"] .value__cate, .area[data-area="9"] .page[data-page="2"] .text-box[data-text="1"] .team-list__sub-desc:nth-child(2) {
    order: 2;
  }
}
.area[data-area="9"] .page[data-page="2"] .text-box[data-text="1"] .text-ko {
  flex-grow: 1;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="2"] .text-box[data-text="1"] .text-ko {
    order: 3;
    flex-grow: 0;
  }
}
.area[data-area="9"] .page[data-page="2"] .img-box {
  position: absolute;
  width: 67rem;
  top: 10%;
  right: -40%;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="2"] .img-box {
    width: 76.4rem;
    top: 12rem;
  }
}
.area[data-area="9"] .page[data-page="2"] .img-box img {
  border-radius: 3rem;
}
.area[data-area="9"] .page[data-page="3"] {
  margin-left: 120rem;
  padding-right: 200vw;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="3"] {
    align-items: stretch;
  }
}
.area[data-area="9"] .page[data-page="3"] [data-text="1"] {
  margin-top: 10rem;
  position: relative;
  z-index: 2;
  transform: translateY(-10%);
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="3"] [data-text="1"] {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 78rem;
    transform: translateY(10%);
  }
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="3"] [data-text="1"] .text-head-md {
    flex-grow: 1;
  }
}
.area[data-area="9"] .page[data-page="3"] [data-text="1"] .text-eng-rg, .area[data-area="9"] .page[data-page="3"] [data-text="1"] .value__cate, .area[data-area="9"] .page[data-page="3"] [data-text="1"] .team-list__sub-desc:nth-child(2) {
  margin-top: 10rem;
  padding-left: 10rem;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="3"] [data-text="1"] .text-eng-rg, .area[data-area="9"] .page[data-page="3"] [data-text="1"] .value__cate, .area[data-area="9"] .page[data-page="3"] [data-text="1"] .team-list__sub-desc:nth-child(2) {
    margin-top: 0;
  }
}
.area[data-area="9"] .page[data-page="3"] [data-text="1"] .text-ko {
  padding-left: 10rem;
}
.area[data-area="9"] .page[data-page="3"] [data-text="1"] .line {
  display: inline-block;
}
.area[data-area="9"] .page[data-page="3"] [data-text="1"] .line:nth-of-type(2) {
  transform: translateX(20rem);
}
.area[data-area="9"] .page[data-page="3"] [data-text="1"] .line:nth-of-type(3) {
  transform: translateX(-9rem);
}
.area[data-area="9"] .page[data-page="3"] [data-img="1"] {
  width: 37rem;
  position: absolute;
  bottom: 4%;
  left: -37rem;
}
.area[data-area="9"] .page[data-page="3"] [data-img="1"] img {
  border-radius: 3rem;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="3"] [data-img="1"] {
    width: 55.2rem;
  }
}
.area[data-area="9"] .page[data-page="3"] [data-img="2"] {
  width: 67.4rem;
  position: absolute;
  top: 22%;
  left: 90rem;
  z-index: 3;
}
@media (max-width: 720px) {
  .area[data-area="9"] .page[data-page="3"] [data-img="2"] {
    width: 65.2rem;
    top: unset;
    bottom: 15%;
    left: 76rem;
  }
}
.area[data-area="9"] .page[data-page="3"] [data-img="2"] img {
  border-radius: 3rem;
}
.area[data-area="9"] .img-box .text-xs {
  margin-top: 1.4rem;
  text-align: right;
}
@media (max-width: 720px) {
  .area[data-area="9"] .img-box .text-xs {
    margin-top: 1.8rem;
  }
}
@media (max-width: 720px) {
  .area[data-area="9"] .text-eng-rg, .area[data-area="9"] .value__cate, .area[data-area="9"] .team-list__sub-desc:nth-child(2) {
    letter-spacing: -0.03em;
    font-size: 2.8rem;
    line-height: 3.4rem;
  }
}
@media (max-width: 720px) {
  .area[data-area="9"] .text-eng-rg + .text-ko, .area[data-area="9"] .value__cate + .text-ko, .area[data-area="9"] .team-list__sub-desc:nth-child(2) + .text-ko {
    margin-top: 4.5rem;
  }
}
.area[data-area="10"] {
  width: 100%;
  height: 400vh;
}
.area[data-area="11"] {
  padding-top: 15rem;
  position: relative;
}
.area[data-area="12"] {
  margin-top: 30rem;
}
@media (max-width: 720px) {
  .area[data-area="12"] {
    margin-top: 25rem;
  }
}

.card img {
  border-radius: 3rem;
  width: 56rem;
}
@media (max-width: 720px) {
  .card img {
    width: 35.1rem;
  }
}
.card-slider {
  overflow-x: scroll;
  margin-top: 51rem;
}
.card-slider__inner {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 30rem;
  flex-direction: row;
}

.time {
  position: relative;
}
.time__text, .area[data-area="7"] .horizontal-mover__line {
  position: relative;
  z-index: 1;
  font-family: "Rhymes", sans-serif;
  font-size: 23rem;
  font-weight: 100;
  text-transform: uppercase;
}
@media (max-width: 720px) {
  .time__text, .area[data-area="7"] .horizontal-mover__line {
    font-size: 16rem;
    line-height: 15rem;
  }
}
.time__text:nth-child(1), .area[data-area="7"] .horizontal-mover__line:nth-child(1) {
  margin-left: 70rem;
}
.time__deco {
  font-weight: 300;
  font-family: "Selecta", sans-serif;
  color: rgb(85, 85, 85);
  position: absolute;
  top: 40rem;
  left: 4rem;
}
@media (max-width: 720px) {
  .time__deco {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
.time__deco-item:nth-child(2) {
  margin-top: 3ch;
}
.time__colon {
  font-weight: 100;
  margin: 0 -1rem;
  display: inline-block;
}

.clock {
  width: 25.4rem;
  height: 25.4rem;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .clock {
    width: 15.2rem;
    height: 15.2rem;
  }
}
.clock__min, .clock__sec, .clock__hour {
  transform-origin: 50%;
  transform: rotate(0);
}
.clock__text {
  position: absolute;
  top: 50%;
  left: calc(100% + 1.2rem);
  transform: translateY(-50%);
  white-space: nowrap;
}
@media (max-width: 720px) {
  .clock__text {
    display: none;
  }
}
.clock-group-hour, .clock-group-sec, .clock-group-min {
  transform-origin: 50%;
  transform: rotate(0);
  animation-name: ani__clock;
}
.clock-group-hour {
  animation-duration: 43200s;
  animation-timing-function: linear;
}
.clock-group-sec {
  animation-duration: 60s;
  animation-timing-function: steps(60);
}
.clock-group-min {
  animation-duration: 3600s;
  animation-timing-function: linear;
}
.clock-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.clock:nth-child(1) {
  top: -26rem;
  left: -45.5rem;
}
@media (max-width: 720px) {
  .clock:nth-child(1) {
    top: -12rem;
    left: -10rem;
  }
}
.clock:nth-child(2) {
  top: -15rem;
  right: -46.4rem;
}
@media (max-width: 720px) {
  .clock:nth-child(2) {
    top: -5rem;
    right: -24rem;
  }
}
.clock:nth-child(3) {
  top: -14rem;
  left: -67.5rem;
}
@media (max-width: 720px) {
  .clock:nth-child(3) {
    top: -4rem;
    left: -22rem;
  }
}
.clock:nth-child(4) {
  top: -11rem;
  right: -57rem;
}
@media (max-width: 720px) {
  .clock:nth-child(4) {
    top: -8rem;
    right: -12rem;
  }
}
.clock:nth-child(5) {
  top: -16rem;
  left: -52rem;
}
@media (max-width: 720px) {
  .clock:nth-child(5) {
    top: -16rem;
    left: -32rem;
  }
}
.clock:nth-child(6) {
  top: 16rem;
  right: -37.6rem;
}
@media (max-width: 720px) {
  .clock:nth-child(6) {
    top: 25rem;
    right: -21.6rem;
  }
}
.clock:nth-child(7) {
  top: 8rem;
  left: -10.6rem;
}
@media (max-width: 720px) {
  .clock:nth-child(7) {
    top: 20rem;
    left: -10.6rem;
  }
}
.clock--big {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 720px) {
  .clock--big {
    width: 150rem;
  }
}

.team-list {
  max-width: 132rem;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .team-list {
    padding: 0 4rem 0 4rem;
  }
}
@media (max-width: 720px) and (max-width: 720px) {
  .team-list {
    padding: 0 3rem 0 3rem;
  }
}
.team-list__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6.4rem 2rem 11rem 2rem;
  position: relative;
}
@media (max-width: 720px) {
  .team-list__item {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.team-list__title {
  position: relative;
}
@media (max-width: 720px) {
  .team-list__title {
    padding: 4rem 6rem 4rem 1.5rem;
  }
  .team-list__title h4 {
    font-size: 5.5rem;
    pointer-events: none;
  }
}
@media (max-width: 720px) {
  .team-list__main-desc {
    font-size: 3.4rem;
  }
}
.team-list__sub-desc:nth-child(2) {
  margin-top: 4rem;
}
@media (max-width: 720px) {
  .team-list__sub-desc:nth-child(2) {
    font-size: 2.8rem;
    line-height: 3.4rem;
    letter-spacing: -0.025em;
    margin-top: 5rem;
  }
}
.team-list__line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border-top: 1px solid #fff;
}
.team-list__line:last-child {
  top: unset;
  bottom: 0;
}
@media (max-width: 720px) {
  .team-list__line {
    border-top: 1px solid rgb(85, 85, 85);
  }
}
@media (max-width: 720px) {
  .team-list__text-box {
    padding-left: 17rem;
    margin-top: 5.5rem;
    padding-bottom: 14.5rem;
  }
}
.team-list__btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-image: url("../assets/icon/plus-btn.svg#icon-minus");
  background-size: 3rem 3rem;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.team-list__btn[data-open=true] {
  background-image: url("../assets/icon/plus-btn.svg#icon-plus");
}

.value__fromto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  width: 100rem;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 720px) {
  .value__fromto {
    flex-direction: column;
    width: 100%;
    height: 36vh;
    justify-content: space-between;
    margin-top: -4vh;
  }
}
.value__roller {
  flex: 1 0 0;
  position: relative;
}
@media (max-width: 720px) {
  .value__roller {
    flex: none;
  }
}
@media (max-width: 720px) {
  .value__cate {
    font-size: 3rem;
  }
}
.value__item {
  position: relative;
  letter-spacing: 0.01em;
  font-family: "Rhymes", sans-serif;
  font-size: 6rem;
  font-weight: 100;
  line-height: 7.2rem;
}
.value__item p:not(:first-child) {
  transform: perspective(500px) translate3d(0px, 0px, 0px) rotateX(-90deg);
  transform-origin: 50% 100%;
  position: absolute;
}
@media (max-width: 720px) {
  .value__item {
    font-size: 8rem;
    margin-top: 0.4rem;
  }
}

.method {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
}
.method:not(:first-child) {
  opacity: 0;
}
.method__num {
  letter-spacing: 0.01em;
  margin-bottom: 3rem;
  font-family: "Rhymes", sans-serif;
  font-size: 4rem;
  font-weight: 100;
  line-height: 4rem;
}
@media (max-width: 720px) {
  .method__num {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
}
.method__desc {
  letter-spacing: 0.01em;
  font-family: "Rhymes", sans-serif;
  font-size: 3.2rem;
  font-weight: 100;
  line-height: 3.4rem;
  margin-top: 10rem;
}
@media (max-width: 720px) {
  .method__desc {
    font-size: 3.6rem;
    line-height: 4.2rem;
    margin-top: 0;
    padding-top: 35rem;
  }
}
.method__title {
  text-transform: uppercase;
  font-family: "Selecta", sans-serif;
  font-size: 22rem;
  font-weight: 500;
  line-height: 22rem;
  letter-spacing: -0.01em;
  margin-top: 3rem;
}
@media (max-width: 720px) {
  .method__title {
    letter-spacing: -0.04em;
    font-size: 12rem;
    line-height: 12rem;
    margin-top: 2.6rem;
  }
}
.method__container {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
}
.method__small {
  margin-top: 3rem;
  font-size: 1.8rem;
  letter-spacing: -0.03em;
  line-height: 2rem;
}
@media (max-width: 720px) {
  .method__small {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-top: 2rem;
  }
}
.method__video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.method__video-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.member__top {
  position: relative;
}
.member__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Selecta", sans-serif;
  position: relative;
  font-size: 13rem;
  line-height: 11rem;
  z-index: 3;
  font-weight: 400;
  letter-spacing: -0.01em;
}
@media (max-width: 720px) {
  .member__title {
    letter-spacing: -0.03em;
    font-size: 9rem;
    line-height: 8rem;
  }
}
.member__title-company {
  letter-spacing: -0.001em;
  font-family: "Rhymes", sans-serif;
  font-size: 12rem;
  font-weight: 100;
  line-height: 12rem;
}
@media (max-width: 720px) {
  .member__title-company {
    letter-spacing: -0.03em;
    font-size: 8rem;
    line-height: 8rem;
  }
}
.member__img-fixer {
  height: 180rem;
  margin-top: -10rem;
  margin-bottom: 22rem;
  position: relative;
}
@media (max-width: 720px) {
  .member__img-fixer {
    margin-top: -5rem;
    margin-bottom: 14rem;
  }
}
.member__img-container {
  z-index: 2;
  width: 65rem;
  height: 65rem;
  background: rgb(85, 85, 85);
  border-radius: 100%;
  position: sticky;
  margin: 0 auto;
  top: calc(50% - 32.5rem);
  overflow: hidden;
}
@media (max-width: 720px) {
  .member__img-container {
    width: 62rem;
    height: 62rem;
    top: calc(50% - 31rem);
  }
}
.member__thank {
  font-family: "Rhymes", sans-serif;
  text-transform: uppercase;
  font-size: 55rem;
  font-weight: 200;
  line-height: 55rem;
  letter-spacing: -0.03em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media (max-width: 720px) {
  .member__thank {
    font-size: 28rem;
    line-height: 28rem;
    bottom: 2rem;
  }
}
.member__deco {
  padding: 0;
  width: 111rem;
  margin: 0 auto;
  text-transform: uppercase;
  position: relative;
}
@media (max-width: 720px) {
  .member__deco {
    top: 0;
    width: 58rem;
  }
}
@media (max-width: 720px) {
  .member__deco-item {
    letter-spacing: -0.03em;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}/*# sourceMappingURL=style.css.map */