/* 폰트 관련 */
.noto {
  font-family: $font__Noto;
}
.rhyme {
  font-family: $font__Rhymes;
}
.selecta {
  font-family: $font-Selecta;
}

/**모바일/pc 관련*/

.pc-only {
  @include mb-lg {
    display: none !important;
  }
}

.mb-only {
  @media (min-width: calc($size__mb-lg + 1px)) {
    display: none !important;
  }
}

/** 접근성 관련 **/
.blind {
  font-size: 0;
  position: absolute;
  display: block;
  z-index: -9999;
  text-indent: 9999;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* uppercase */
.upper {
  text-transform: uppercase;
}

/* 텍스트 */
.point {
  color: $color__point;
}
.text {
  &-box {
    @include mb-lg {
      padding-right: 3rem;
    }
  }
  &-eng {
    font-family: $font-Selecta;
    font-weight: 500;
    font-size: 5.6rem;
    line-height: 1.1;

    .line-wrap {
      &:first-child {
        position: relative;
        margin-left: 14rem;
        &::before {
          // @include util__pseudo(1.5rem, 1.5rem);
          content: '';
          top: 50%;
          transform: translateY(-50%);
          margin-right: 0.4em;
          width: 1.5rem;
          height: 1.5rem;
          display: inline-block;
          border-radius: 100%;
          background: $color__point;
        }

        @include mb-lg {
          margin-left: 6rem;
        }

        .word:first-child {
        }
      }
    }

    & + .text-ko {
      margin-top: 7rem;
    }

    @include mb-lg {
      font-size: 3rem;
      letter-spacing: -0.025em;
    }
  }
  &-ko {
    font-size: 1.8rem;
    line-height: 2.8rem;

    @include mb-lg {
      font-size: 2.4rem;
      line-height: 3.6rem;
      letter-spacing: -0.025em;
    }
  }
  &-small {
    font-family: $font-Selecta;
    letter-spacing: -0.01em;
    line-height: 1.6rem;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}
