$size__section-inner: 0 10rem;

$size__pc-xl: 1920px;
$size__mb-lg: 720px;
$size__padding: 4rem;

$color__white: #fff;
$color__black: #000;
$color__dim: rgb(85, 85, 85);
$color__point: #0f0;

$font__Noto: 'Noto Sans KR', sans-serif;
$font__Rhymes: 'Rhymes', sans-serif;
$font-Selecta: 'Selecta', sans-serif;
