/* header */
.header {
  position: relative;

  &__nav {
    @include util__flex(space-between, center);
    @include util__get-padding();
    position: absolute;
    width: 100%;
    z-index: 999;
    bottom: 0;
    padding-top: 2rem;
    padding-bottom: 22.5rem;

    &.fix {
      @include pc-only {
        position: fixed;
        bottom: unset;
        top: 0;
        left: 0;
        padding-bottom: 0;
      }
    }

    @include mb-lg {
      position: fixed;
      top: 0;
      bottom: unset;
      left: 0;
      width: 100%;
      height: 11rem;
      padding-bottom: 0;
    }
  }
  &__bg {
    width: 100vw;
    height: 100%;
    position: relative;
    top: 22.5rem;
    z-index: 0;
    border-radius: 3rem;
    overflow: hidden;
    max-width: 188.2rem;
    margin: 0 auto;
  }
  &__video {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    border-radius: 3rem;
    overflow: hidden;
  }
}
.intro {
  @include util__flex(stretch, stretch, 0, column);
  @include util__get-padding();
  $deco-height: 9.4rem;
  height: 100vh;
  padding-top: $deco-height;
  padding-bottom: 3rem;
  z-index: 1;
  text-transform: uppercase;
  position: absolute;
  width: 100%;

  @include ani-up(10rem);

  @include mb-lg {
    padding-top: 17rem;
    padding-bottom: 0;
  }

  &__title {
    width: 117.9rem;
    margin: 0 auto;
    animation: ani__up-10rem 2s;

    @include mb-lg {
      max-width: 55rem;
    }
  }
  &__geo {
    font-family: $font-Selecta;
    font-size: 3.6rem;
    margin-top: 3rem;
    text-align: center;
    animation: ani__up-10rem 2s;

    @include mb-lg {
      font-size: 2.6rem;
    }

    &-text {
      &:first-child {
        word-spacing: 0.25em;
        margin-right: 6.5rem;
        @include mb-lg {
          margin-right: 3.6rem;
        }
      }
    }
  }
  &__deco {
    @include util__flex(center, stretch, 0, column);
    @include util__get-padding();
    @include util__deco;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: $deco-height;

    @include mb-lg {
      top: 11rem;
      height: auto;
    }

    &-item {
      @include util__flex(space-between);
    }
  }
  &__time {
    @include util__flex(space-between, center);
    @include util__get-padding();
    font-family: $font-Selecta;
    font-size: 3.6rem;
    width: 100%;
    left: 0;
    bottom: 3rem;
    position: absolute;
    letter-spacing: -0.03em;
    animation: ani__up-10rem 2s;
    @include mb-lg {
      font-size: 2.6rem;
    }

    &-text {
      &:nth-child(2) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
.home {
  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    background: $color__point;
    @include mb-lg {
      width: 5rem;
      height: 5rem;
    }
  }
}
.menu {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  @include mb-lg {
    @include util__flex(center, center, 0, column);
    height: calc(100% - 12rem);
    font-size: 10rem;
    font-weight: 400;
    line-height: 10.4rem;
    letter-spacing: -0.02em;
  }
  &-wrap {
    @include mb-lg {
      position: fixed;
      width: 100%;
      height: 100%;
      background: $color__black;
      top: 0;
      left: 0;
      z-index: -1;

      &[data-open='true'] {
        .menu-item {
          @include ani__fade-up(30%, 10);
          animation: ani__fade-up-10 0.5s;
        }
      }
      &[data-open='false'] {
        display: none;
      }
    }
  }

  &-item {
    transition: opacity 0.3s, color 0.3s;
  }
  &-btn {
    width: 6rem;
    height: 6rem;
    background: url('../assets/icon/menu-btn.svg');

    &[data-open='true'] {
      background: url('../assets/icon/menu-close.svg');
    }
  }
  &__copy {
    font-family: $font-Selecta;
    font-size: 2.6rem;
    letter-spacing: -0.03em;
    font-weight: 400;
    line-height: 3rem;
    position: absolute;
    width: 100%;
    bottom: 6rem;
    text-align: center;
    text-transform: uppercase;
  }
}

.contents {
  padding-top: 22.5rem;
  position: relative;
  z-index: 2;

  @include mb-lg {
    padding-top: 0;
  }
}

// // header

.area {
  &[data-area='1'] {
    .text-box {
      padding-left: 17.7%;

      @include mb-lg {
        padding-right: 3rem;
      }

      &[data-text='1'] {
        margin-top: -22.5rem;
        position: relative;
        z-index: 5;

        @include mb-lg {
          margin-top: 0;
        }
      }

      &[data-text='2'] {
        position: relative;
        top: -10rem;
      }

      &[data-text='3'] {
        margin-top: 48rem;
        padding-left: 49.27%;
        @include mb-lg {
          padding-left: 26rem;
        }
        .text-ko {
          padding-left: 0;
        }
      }

      @include mb-lg {
        padding-left: 7rem;
      }
    }
    .text-ko {
      padding-left: 30%;

      @include mb-lg {
        padding-left: 0;
      }
    }
  }

  &[data-area='2'] {
    padding: 25rem 0 30rem 0;
    margin-top: 12rem;
  }

  &[data-area='3'] {
    overflow: hidden;
    position: relative;
    margin-top: 60rem;
    .img-box {
      width: 82.6rem;
      margin: 0 auto;
      img {
        border-radius: 3rem;
      }

      @include mb-lg {
        width: 100%;
      }
    }

    .text-box {
      &[data-text='1'] {
        position: absolute;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
      }
      &[data-text='2'] {
        text-align: center;
        position: absolute;
        top: 40rem;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
      }
      &[data-text='3'] {
        text-align: center;
        position: absolute;
        bottom: 50rem;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
      }

      .text-head + .text-small {
        margin-top: 2rem;
      }
    }
  }

  &[data-area='4'] {
    margin-top: 5rem;
    position: relative;

    @include mb-lg {
      margin-top: 6rem;
    }

    .img-box {
      width: 82.6rem;
      margin: 0 auto;

      @include mb-lg {
        width: 100%;
      }
    }

    .text-box {
      &[data-text='1'] {
        position: absolute;
        top: 6rem;
        left: 50%;
        transform: translateX(-50%);
      }
      &[data-text='2'] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        @include mb-lg {
          left: 0;
          transform: translateY(-50%);
          padding-left: 7rem;
        }

        .text-eng {
          white-space: nowrap;
        }
        .text-ko {
          padding-left: 49.27%;
          white-space: nowrap;

          @include mb-lg {
            padding-left: 0;
          }
        }
      }
      &[data-text='3'] {
        position: absolute;
        bottom: 6rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &[data-area='5'] {
    margin-top: 26rem;

    @include mb-lg {
      margin-top: 39rem;
    }

    .text-box {
      &[data-text='1'] {
        max-width: 132rem;
        margin: 0 auto;
        padding: 10rem 2rem 11rem 2rem;
        padding-left: 66rem;

        @include mb-lg {
          max-width: unset;
          width: 100%;
          padding: 8rem 3rem 15rem 22rem;
        }
      }
    }
  }

  &[data-area='6'] {
    margin-top: 40rem;
    height: 350vh;
    background: $color__blue;

    .text-box {
      &[data-text='1'] {
        position: absolute;
        color: $color__black;
        text-align: center;
        bottom: 15%;

        .text-eng-rg {
          @include mb-lg {
            font-size: 3rem;
            line-height: 3.6rem;
          }
        }

        @include mb-lg {
          bottom: 5%;
        }
      }
    }
    .text-container {
      margin-bottom: 10vh;

      @include mb-lg {
        margin-bottom: 20vh;
      }
    }
    .horizontal-section {
      @include util__flex(center, center);
      top: 0;
      left: 0;
    }
    .img-box {
      width: 174.4rem;
      margin: 0 auto;

      @include mb-lg {
        width: 80vh;
        transform: rotate(90deg);
        margin-top: -10vh;
      }
    }
  }

  &[data-area='7'] {
    padding-top: 56rem;

    .horizontal-mover {
      &__line {
        @extend .time__text;
        white-space: nowrap;
        @include util__flex(stretch, center, 9rem);

        .text-eng-lg {
          text-transform: none;
        }
        .text-small {
          text-align: center;
        }
      }
    }
  }

  &[data-area='8'] {
    height: 200vh;
    .horizontal-section {
      @include util__flex(stretch, flex-end);
      padding: 3rem 2rem;
      top: 0;

      @include mb-lg {
        padding: 0;
      }
    }
    .img-container {
      width: 100vw;
      height: 100%;
      flex-shrink: 0;
    }
    .img-box {
      width: 30vw;
      height: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 3rem;

      @include mb-lg {
        width: 470px;
      }

      img {
        width: 100vw;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }
    .text-container {
      width: 100vw;
      flex-shrink: 0;
      margin-left: 2.86%;

      @include mb-lg {
        margin-left: 7rem;
      }
    }
    .text-box {
      white-space: nowrap;
    }
    .text-ko {
      padding-left: 34.45%;

      @include mb-lg {
        padding-left: 0;
        margin-top: 6rem;
      }
    }
  }

  &[data-area='9'] {
    overflow-x: scroll;
    // height: 500vh;
    // height: 100vh;

    .horizontal-section {
      display: flex;
    }

    .text-rg {
      @include mb-lg {
        font-size: 1.8rem;
        line-height: 2rem;
        letter-spacing: -0.02em;
      }
    }

    .page {
      $gap: 10rem;
      padding: 4rem 0;
      padding-top: 15rem;

      @include mb-lg {
        padding: 6rem 0;
        padding-top: 12rem;
      }

      &-container {
        display: flex;

        gap: 0 40rem;
        background: $color__point;
        color: $color__black;
        border-radius: 0 3rem 3rem 0;
      }

      &[data-page='1'] {
        display: flex;
        padding-left: 160rem;

        @include mb-lg {
          padding-left: 90rem;
        }

        [data-text='1'] {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          position: relative;
          z-index: 2;

          .text-rg {
            margin-top: $gap;

            @include mb-lg {
              margin-top: 2rem;
            }
          }
        }

        [data-text='2'] {
          position: relative;
          z-index: 1;

          @include mb-lg {
            transform: translateX(-20%);
          }

          .text-head-md {
            text-align: right;
          }
          .img-box {
            width: 49rem;
            margin: 0 auto;
            overflow: hidden;
            margin-top: $gap;

            @include mb-lg {
              width: 49.7rem;
              margin-top: 2rem;
            }

            img {
              border-radius: 3rem;
            }
          }
        }
      }
      &[data-page='2'] {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        //justify-content: flex-end;

        @include mb-lg {
          justify-content: flex-end;
        }

        .text-box {
          &[data-text='1'] {
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
            z-index: 1;
            height: 114rem;
            @include mb-lg {
              justify-content: flex-end;
              height: 86rem;
              max-height: 94%;
            }

            .line {
              @include util__flex(stretch, center);
              &:nth-child(2) {
                margin-left: 1.3ch;
              }
            }

            .text-head-md {
              @include mb-lg {
                flex-grow: 1;
              }
            }

            .text-eng-rg {
              @include mb-lg {
                order: 2;
              }
            }

            .text-ko {
              flex-grow: 1;

              @include mb-lg {
                order: 3;
                flex-grow: 0;
              }
            }
          }
        }
        .img-box {
          position: absolute;
          width: 67rem;
          top: 10%;
          right: -40%;

          @include mb-lg {
            width: 76.4rem;
            top: 12rem;
          }

          img {
            border-radius: 3rem;
          }
        }
      }

      &[data-page='3'] {
        margin-left: 120rem;
        padding-right: 200vw;
        position: relative;
        display: flex;
        align-items: center;

        @include mb-lg {
          align-items: stretch;
        }

        [data-text='1'] {
          margin-top: $gap;
          position: relative;
          z-index: 2;
          transform: translateY(-10%);

          @include mb-lg {
            display: flex;
            flex-direction: column;
            margin-top: 0;
            height: 78rem;
            transform: translateY(10%);
          }

          .text-head-md {
            @include mb-lg {
              flex-grow: 1;
            }
          }
          .text-eng-rg {
            margin-top: $gap;
            padding-left: 10rem;
            @include mb-lg {
              margin-top: 0;
            }
          }
          .text-ko {
            padding-left: 10rem;
          }
          .line {
            display: inline-block;

            &:nth-of-type(2) {
              transform: translateX(20rem);
            }
            &:nth-of-type(3) {
              transform: translateX(-9rem);
            }
          }
        }
        [data-img='1'] {
          width: 37rem;
          position: absolute;
          bottom: 4%;
          left: -37rem;
          img {
            border-radius: 3rem;
          }
          @include mb-lg {
            width: 55.2rem;
          }
        }
        [data-img='2'] {
          width: 67.4rem;
          position: absolute;
          top: 22%;
          left: 90rem;
          z-index: 3;

          @include mb-lg {
            width: 65.2rem;
            top: unset;
            bottom: 15%;
            left: 76rem;
          }

          img {
            border-radius: 3rem;
          }
        }
      }
    }

    .text-eng-rg {
      @include mb-lg {
        letter-spacing: -0.03em;
        font-size: 2.8rem;
        line-height: 3.4rem;
      }
    }

    .text-eng-rg + .text-ko {
      @include mb-lg {
        margin-top: 4.5rem;
      }
    }
  }

  &[data-area='10'] {
    width: 100%;
    height: 400vh;
  }
  &[data-area='11'] {
    padding-top: 15rem;
    position: relative;
  }
  &[data-area='12'] {
    margin-top: 30rem;
    // margin-bottom: 27rem;

    @include mb-lg {
      margin-top: 25rem;
    }

    .text-box {
      &[data-text='1'] {
        padding-left: 39.58%;

        @include mb-lg {
          padding-left: 27rem;
        }

        .text-ko {
          padding-left: 15%;
          @include mb-lg {
            padding-left: 0;
          }
        }
      }
      &[data-text='2'] {
        padding-left: 39.58%;
        margin-top: 92rem;

        @include mb-lg {
          margin-top: 108rem;
        }
      }
    }

    .img-box {
      &[data-img='1'] {
        width: 79rem;
        right: 50%;
        margin-right: -10rem;
        position: absolute;

        @include mb-lg {
          width: 50.1rem;
          margin-right: -21rem;
          top: 40rem;
        }
      }
      &[data-img='2'] {
        width: 38.4rem;
        position: absolute;
        margin-left: 39.6rem;
        left: 50%;
        top: 116rem;

        @include mb-lg {
          width: 37.2rem;
          margin-left: -4.3rem;
          top: 140rem;
        }
      }
      &[data-img='3'] {
        width: 89.2rem;
        margin-left: -19.2rem;
        position: absolute;
        top: 40rem;
        left: 50%;

        @include mb-lg {
          width: 55rem;
          margin-left: -25rem;
        }
      }
      &[data-img='4'] {
        width: 34.5rem;
        margin-right: 42.1rem;
        position: absolute;
        top: 90rem;
        right: 50%;

        @include mb-lg {
          width: 32.3rem;
          margin-right: 0rem;
          top: 100rem;
        }
      }
    }

    .page {
      position: relative;

      &[data-page='1'] {
        margin-top: 54rem;
        padding-bottom: 130rem;

        @include mb-lg {
          padding-bottom: 168rem;
        }

        @include mb-lg {
          margin-top: 41rem;
        }

        .text-head {
          margin-left: -78rem;
          position: relative;
          left: 50%;

          @include mb-lg {
            margin-left: -33rem;
          }
        }
      }
      &[data-page='2'] {
        padding-bottom: calc(92rem - 50vh);
        .text-head {
          position: relative;
          right: 50%;
          margin-right: -78rem;
          text-align: right;

          @include mb-lg {
            margin-right: -33rem;
          }
        }
      }
    }

    .text-head {
      font-size: 13rem;
      line-height: 12rem;
    }

    .text-eng-rg {
      margin-left: -69rem;
      position: absolute;
      top: 134rem;
      left: 50%;

      @include mb-lg {
        margin-left: -29rem;
        top: 153rem;
        font-size: 2.8rem;
        line-height: 3.4rem;
      }
    }
  }
}

.card {
  img {
    border-radius: 3rem;
    width: 56rem;

    @include mb-lg {
      width: 35.1rem;
    }
  }

  &-slider {
    overflow-x: scroll;
    margin-top: 51rem;
    &__inner {
      @include util__flex(stretch, center, 30rem);
    }
  }
}
.time {
  position: relative;
  &__text {
    position: relative;
    z-index: 1;
    font-family: $font__Rhymes;
    font-size: 23rem;
    font-weight: 100;
    text-transform: uppercase;

    @include mb-lg {
      font-size: 16rem;
      line-height: 15rem;
    }

    &:nth-child(1) {
      margin-left: 70rem;
    }
  }
  &__deco {
    @include util__deco;
    position: absolute;
    top: 40rem;
    left: $size__padding;

    &-item {
      &:nth-child(2) {
        margin-top: 3ch;
      }
    }
  }
  &__colon {
    font-weight: 100;
    margin: 0 -1rem;
    display: inline-block;
  }
}
.clock {
  width: 25.4rem;
  height: 25.4rem;
  position: relative;
  margin: 0 auto;

  @include mb-lg {
    width: 15.2rem;
    height: 15.2rem;
  }

  &__min,
  &__sec,
  &__hour {
    transform-origin: 50%;
    transform: rotate(0);
  }
  &__text {
    @extend .text-small;
    position: absolute;
    top: 50%;
    left: calc(100% + 1.2rem);
    transform: translateY(-50%);
    white-space: nowrap;

    @include mb-lg {
      display: none;
    }
  }
  &-group {
    &-hour,
    &-sec,
    &-min {
      transform-origin: 50%;
      transform: rotate(0);
      animation-name: ani__clock;
    }

    &-hour {
      animation-duration: 43200s;
      animation-timing-function: linear;
    }
    &-sec {
      animation-duration: 60s;
      animation-timing-function: steps(60);
    }
    &-min {
      animation-duration: 3600s;
      animation-timing-function: linear;
    }
  }

  &-container {
    width: 100%;
    position: absolute;
    // top: -20rem;
    top: 0;
    left: 0;
  }

  &:nth-child(1) {
    top: -26rem;
    left: -45.5rem;
    @include mb-lg {
      top: -12rem;
      left: -10rem;
    }
  }
  &:nth-child(2) {
    top: -15rem;
    right: -46.4rem;
    @include mb-lg {
      top: -5rem;
      right: -24rem;
    }
  }
  &:nth-child(3) {
    top: -14rem;
    left: -67.5rem;
    @include mb-lg {
      top: -4rem;
      left: -22rem;
    }
  }
  &:nth-child(4) {
    top: -11rem;
    right: -57rem;
    @include mb-lg {
      top: -8rem;
      right: -12rem;
    }
  }
  &:nth-child(5) {
    top: -16rem;
    left: -52rem;
    @include mb-lg {
      top: -16rem;
      left: -32rem;
    }
  }
  &:nth-child(6) {
    top: 16rem;
    right: -37.6rem;
    @include mb-lg {
      top: 25rem;
      right: -21.6rem;
    }
  }
  &:nth-child(7) {
    top: 8rem;
    left: -10.6rem;
    @include mb-lg {
      top: 20rem;
      left: -10.6rem;
    }
  }

  &--big {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    @include mb-lg {
      width: 150rem;
    }
  }
}
.team-list {
  max-width: 132rem;
  margin: 0 auto;

  @include mb-lg {
    @include util__get-padding();
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6.4rem 2rem 11rem 2rem;
    position: relative;

    @include mb-lg {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__title {
    position: relative;
    h4 {
      @extend .text-eng;
    }

    @include mb-lg {
      padding: 4rem 6rem 4rem 1.5rem;

      h4 {
        font-size: 5.5rem;
        pointer-events: none;
      }
    }
  }
  &__main-desc {
    @extend .text-eng-md;

    @include mb-lg {
      font-size: 3.4rem;
    }
  }
  &__sub-desc {
    &:nth-child(2) {
      @extend .text-eng-rg;
      margin-top: 4rem;

      @include mb-lg {
        font-size: 2.8rem;
        line-height: 3.4rem;
        letter-spacing: -0.025em;
        margin-top: 5rem;
      }
    }
  }
  &__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    border-top: 1px solid $color__white;

    &:last-child {
      top: unset;
      bottom: 0;
    }
    @include mb-lg {
      border-top: 1px solid $color__dim;
    }
  }
  &__text-box {
    @include mb-lg {
      padding-left: 17rem;
      margin-top: 5.5rem;
      padding-bottom: 14.5rem;
    }
  }
  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-image: url('../assets/icon/plus-btn.svg#icon-minus');
    background-size: 3rem 3rem;
    background-repeat: no-repeat;
    background-position: 100% 50%;

    &[data-open='true'] {
      background-image: url('../assets/icon/plus-btn.svg#icon-plus');
    }
  }
}
.value {
  &__fromto {
    @include util__flex(center, center);
    width: 100rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);

    @include mb-lg {
      flex-direction: column;
      width: 100%;
      height: 36vh;
      justify-content: space-between;
      margin-top: -4vh;
    }
  }
  &__roller {
    flex: 1 0 0;
    position: relative;
    @include mb-lg {
      flex: none;
    }
  }
  &__cate {
    @extend .text-eng-rg;

    @include mb-lg {
      font-size: 3rem;
    }
  }
  &__item {
    position: relative;
    letter-spacing: 0.01em;
    font-family: $font__Rhymes;
    font-size: 6rem;
    font-weight: 100;
    line-height: 7.2rem;

    p {
      &:not(:first-child) {
        transform: perspective(500px) translate3d(0px, 0px, 0px) rotateX(-90deg);
        transform-origin: 50% 100%;
        position: absolute;
      }
    }

    @include mb-lg {
      font-size: 8rem;
      margin-top: 0.4rem;
    }
  }
}
.method {
  @include util__flex(center, center, 0, column);
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;

  &:not(:first-child) {
    opacity: 0;
  }
  &__num {
    letter-spacing: 0.01em;
    margin-bottom: 3rem;
    font-family: $font__Rhymes;
    font-size: 4rem;
    font-weight: 100;
    line-height: 4rem;

    @include mb-lg {
      font-size: 2.8rem;
      line-height: 2.8rem;
    }
  }
  &__desc {
    letter-spacing: 0.01em;
    font-family: $font__Rhymes;
    font-size: 3.2rem;
    font-weight: 100;
    line-height: 3.4rem;
    margin-top: 10rem;

    @include mb-lg {
      font-size: 3.6rem;
      line-height: 4.2rem;
      margin-top: 0;
      padding-top: 35rem;
    }
  }
  &__title {
    text-transform: uppercase;
    font-family: $font-Selecta;
    font-size: 22rem;
    font-weight: 500;
    line-height: 22rem;
    letter-spacing: -0.01em;
    margin-top: 3rem;

    @include mb-lg {
      letter-spacing: -0.04em;
      font-size: 12rem;
      line-height: 12rem;
      margin-top: 2.6rem;
    }
  }
  &__container {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
  }
  &__small {
    margin-top: 3rem;
    font-size: 1.8rem;
    letter-spacing: -0.03em;
    line-height: 2rem;

    @include mb-lg {
      font-size: 2.4rem;
      line-height: 3.6rem;
      margin-top: 2rem;
    }
  }
  &__video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.member {
  &__top {
    position: relative;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-family: $font-Selecta;
    position: relative;
    font-size: 13rem;
    line-height: 11rem;
    z-index: 3;
    font-weight: 400;
    letter-spacing: -0.01em;

    @include mb-lg {
      letter-spacing: -0.03em;
      font-size: 9rem;
      line-height: 8rem;
    }

    &-company {
      letter-spacing: -0.001em;
      font-family: $font__Rhymes;
      font-size: 12rem;
      font-weight: 100;
      line-height: 12rem;

      @include mb-lg {
        letter-spacing: -0.03em;
        font-size: 8rem;
        line-height: 8rem;
      }
    }
  }
  &__img-fixer {
    height: 180rem;
    margin-top: -10rem;
    margin-bottom: 22rem;
    position: relative;

    @include mb-lg {
      margin-top: -5rem;
      margin-bottom: 14rem;
    }
  }
  &__img-container {
    z-index: 2;
    width: 65rem;
    height: 65rem;
    background: $color__dim;
    border-radius: 100%;
    position: sticky;
    margin: 0 auto;
    top: calc(50% - 32.5rem);
    overflow: hidden;

    @include mb-lg {
      width: 62rem;
      height: 62rem;
      top: calc(50% - 31rem);
    }
  }
  &__thank {
    font-family: $font__Rhymes;
    text-transform: uppercase;
    font-size: 55rem;
    font-weight: 200;
    line-height: 55rem;
    letter-spacing: -0.03em;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @include mb-lg {
      font-size: 28rem;
      line-height: 28rem;
      bottom: 2rem;
    }
  }
  &__deco {
    @extend .intro__deco;
    padding: 0;
    width: 111rem;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;

    @include mb-lg {
      top: 0;
      width: 58rem;
    }

    &-item {
      @extend .intro__deco-item;

      @include mb-lg {
        letter-spacing: -0.03em;
        font-size: 1.8rem;
        line-height: 1.8rem;
      }
    }
  }
}
//  work
.work {
  height: 400vh;
  position: relative;
  &__title {
    letter-spacing: -0.03em;
    font-family: $font-Selecta;
    font-weight: 400;
    font-size: 35rem;
    line-height: 30rem;

    &-wrap {
      @include util__flex(center, stretch, 0, column);
      text-align: center;
      height: 100vh;
      position: sticky;
      top: 0;
    }

    @include mb-lg {
      font-size: 20rem;
      line-height: 18rem;
    }

    &-sub {
      @extend .text-head-md;
      color: $color__black;
      -webkit-text-stroke: 2px $color__white;
      @include mb-lg {
        font-size: 12rem;
        line-height: 10rem;
        -webkit-text-stroke: 1px $color__white;
      }
    }
  }
  &__list {
  }
  &__item {
    width: 100%;
    height: 100vh;
    top: 0;
    position: sticky;

    &-title {
      font-family: $font-Selecta;
      font-size: 15rem;
      line-height: 14rem;
      font-weight: 500;
      letter-spacing: -0.03em;
      text-align: center;

      @include mb-lg {
        font-size: 8rem;
        line-height: 8rem;
      }
    }

    &-order-place {
      @extend .text-eng-md;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      margin-top: 3rem;

      @include mb-lg {
        font-size: 2.8rem;
        line-height: 2.8rem;
        letter-spacing: -0.03em;
      }
    }

    a {
      @include util__flex(center, stretch, 0, column);
      height: 100%;
      border-radius: 3rem 3rem 0 0;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    @for $i from 1 to 4 {
      &:nth-child(#{$i}) a {
        background-image: url('../../assets/images/work/work#{$i}.jpg');

        @include mb-lg {
          background-image: url('../../assets/images/work/work#{$i}-mo.jpg');
        }
      }
    }
  }
}
// // work
// recruit

.recruit {
  position: relative;
  background: $color__black;

  @include mb-lg {
    padding: 36rem 0;
  }

  &__inner {
    position: sticky;
    padding: 30rem 0 35rem 0;
    margin-top: 36rem;

    @include mb-lg {
      padding: 0;
      margin-top: 0;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 16rem;
    line-height: 21rem;
    font-family: $font__Rhymes;
    letter-spacing: -0.03em;
    font-weight: 100;

    &-container {
      width: 121rem;
      margin: 0 auto;
      position: relative;

      @include mb-lg {
        width: 64rem;
        padding-bottom: 24rem;
      }
    }

    @include mb-lg {
      font-size: 14rem;
      line-height: 15rem;
    }

    .line {
      display: inline-block;
      width: 100%;
      position: relative;
      z-index: 1;
      &:nth-of-type(2) {
        text-align: right;
        z-index: 3;
      }
    }

    &-deco {
      @extend .intro__deco;
      height: auto;
      text-transform: uppercase;
      padding: 0;
      top: 50%;
      left: 2rem;
      transform: translateY(-50%);
    }
  }

  &__card {
    position: absolute;
    width: 38.8rem;
    z-index: 2;
    top: -5rem;
    left: 50%;
    transform-style: preserve-3d;
    transform: translateX(-50%);

    @include mb-lg {
      width: 25.9rem;
      margin-left: 4.5rem;
    }

    img {
      width: 100%;
      transform: rotate(15deg);
    }
  }

  &__mail {
    font-family: $font-Selecta;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    font-weight: 300;

    @include mb-lg {
      font-size: 2.8rem;
      line-height: 2.8rem;
      letter-spacing: -0.02em;
    }
  }
}
.job-list {
  width: 132rem;
  margin: 0 auto;
  margin-top: 19rem;

  @include mb-lg {
    width: 66rem;
    margin-top: 2.4rem;
  }

  &__item {
    position: relative;
    a {
      @extend .text-eng;
      padding: 7rem 0;
      position: relative;

      @include mb-lg {
        letter-spacing: -0.03em;
        font-size: 4.5rem;
        line-height: 6rem;
        padding: 4rem 0;
        padding-left: 1rem;
      }

      &::after {
        background: url('../../assets/icon/recruit-arrow.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        width: 3.6rem;
        height: 3.6rem;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        pointer-events: none;
        @include mb-lg {
          width: 3rem;
          height: 3rem;
        }
      }
    }
    border-top: 1px solid $color__dim;

    &::after {
      @include util__pseudo(100%, 1px);
      top: unset;
      bottom: 0;
      left: 0;
      background: $color__white;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.5s ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &:last-child {
      border-bottom: 1px solid $color__dim;
    }
  }
}
// // recruit
// cta
.cta {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 9999;
}
// // cta
// footer
.footer {
  font-family: $font-Selecta;
  height: 200vh;
  margin-top: -100vh;
  position: relative;
  z-index: 1;
  &__inner {
    position: relative;
    height: 100vh;
    position: sticky;
    top: 0;
  }
  &__bg {
    @extend .header__bg;
    position: absolute;
    top: 0;
    z-index: -1;
    max-width: unset;
    border-radius: 0;
  }
  &__video {
    @extend .header__video;
    border-radius: 0;
  }
  &__desc {
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: 5rem;
    white-space: nowrap;

    @include mb-lg {
      font-size: 2.8rem;
      line-height: 3.2rem;
      top: unset;
      bottom: 64rem;
      margin-top: 0;
    }
  }

  &__head {
    @extend .text-head;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    bottom: 11rem;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    @include mb-lg {
      font-size: 9rem;
      line-height: 8.5rem;
      bottom: 12.5rem;
    }
  }

  &__copy {
    @include util__flex(space-between, center);
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    padding: 0 4rem;
    position: absolute;
    bottom: 3rem;
    left: 0;
    width: 100%;

    @include mb-lg {
      padding: 0 3rem;
    }
  }

  &__top {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
  }
}
// // footer
