/* header */
.header {
  position: relative;

  &__nav {
    @include util__flex(space-between, center);
    @include util__get-padding();
    position: absolute;
    width: 100%;
    z-index: 999;
    bottom: 0;
    padding-bottom: 22.5rem;

    @include mb-lg {
      position: fixed;
      top: 0;
      bottom: unset;
      left: 0;
      width: 100%;
      height: 11rem;
      padding-bottom: 0;
    }
  }
  &__bg {
    width: 100vw;
    height: 100%;
    position: relative;
    top: 22.5rem;
    z-index: 0;
    border-radius: 3rem;
    overflow: hidden;
    max-width: 188.2rem;
    margin: 0 auto;
  }
  &__video {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    border-radius: 3rem;
    overflow: hidden;
  }
}
.intro {
  @include util__flex(stretch, stretch, 0, column);
  @include util__get-padding();
  $deco-height: 9.4rem;
  height: 100vh;
  padding-top: $deco-height;
  padding-bottom: 3rem;
  z-index: 1;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  // padding-bottom: 100vh;

  @include mb-lg {
    padding-top: 17rem;
    padding-bottom: 0;
  }

  &__title {
    width: 117.9rem;
    margin: 0 auto;

    @include mb-lg {
      max-width: 55rem;
    }
  }
  &__geo {
    font-family: $font-Selecta;
    font-size: 3.6rem;
    margin-top: 3rem;
    text-align: center;

    @include mb-lg {
      font-size: 2.6rem;
    }

    &-text {
      &:first-child {
        word-spacing: 0.25em;
        margin-right: 6.5rem;
        @include mb-lg {
          margin-right: 3.6rem;
        }
      }
    }
  }
  &__deco {
    @include util__flex(center, stretch, 0, column);
    @include util__get-padding();
    @include util__deco;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: $deco-height;

    @include mb-lg {
      top: 11rem;
      height: auto;
    }

    &-item {
      @include util__flex(space-between);
    }
  }
  &__time {
    @include util__flex(space-between, center);
    @include util__get-padding();
    font-family: $font-Selecta;
    font-size: 3.6rem;
    width: 100%;
    left: 0;
    bottom: 3rem;
    position: absolute;
    @include mb-lg {
      font-size: 2.6rem;
    }
  }
}
.home {
  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    background: $color__point;
    @include mb-lg {
      width: 5rem;
      height: 5rem;
    }
  }
}
.menu {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  &-item {
    color: opacity 0.3s, transition 0.3s;
  }
  &-btn {
    width: 6rem;
    height: 6rem;
    background: url('../assets/icon/menu-btn.svg#menu-btn--black');
  }
}

main {
  padding-top: 22.5rem;

  @include mb-lg {
    padding-top: 0;
  }
}

// // header

.area {
  &[data-area='1'] {
    .text-box {
      padding-left: 17.7%;

      @include mb-lg {
        padding-right: 3rem;
      }

      &[data-text='1'] {
        margin-top: -22.5rem;
        position: relative;
        z-index: 5;

        @include mb-lg {
          margin-top: 0;
        }
      }

      &[data-text='2'] {
        position: relative;
        top: -10rem;
      }

      &[data-text='3'] {
        margin-top: 48rem;
        padding-left: 49.27%;
        @include mb-lg {
          padding-left: 26rem;
        }
        .text-ko {
          padding-left: 0;
        }
      }

      @include mb-lg {
        padding-left: 7rem;
      }
    }
    .text-ko {
      padding-left: 30%;

      @include mb-lg {
        padding-left: 0;
      }
    }
  }

  &[data-area='2'] {
    padding: 25rem 0 30rem 0;
    margin-top: 12rem;
  }

  &[data-area='3'] {
    overflow: hidden;
    position: relative;
    margin-top: 60rem;
    .img-box {
      width: 82.6rem;
      margin: 0 auto;
      img {
        border-radius: 3rem;
      }

      @include mb-lg {
        width: 100%;
      }
    }

    .text-box {
      &[data-text='1'] {
        position: absolute;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
      }
      &[data-text='2'] {
        text-align: center;
        position: absolute;
        top: 40rem;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
      }
      &[data-text='3'] {
        text-align: center;
        position: absolute;
        bottom: 50rem;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
      }

      .text-head + .text-small {
        margin-top: 2rem;
      }
    }
  }

  &[data-area='4'] {
    margin-top: 5rem;
    position: relative;

    @include mb-lg {
      margin-top: 6rem;
    }

    .img-box {
      width: 82.6rem;
      margin: 0 auto;

      @include mb-lg {
        width: 100%;
      }
    }

    .text-box {
      &[data-text='1'] {
        position: absolute;
        top: 6rem;
        left: 50%;
        transform: translateX(-50%);
      }
      &[data-text='2'] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        @include mb-lg {
          left: 0;
          transform: translateY(-50%);
          padding-left: 7rem;
        }

        .text-eng {
          white-space: nowrap;
        }
        .text-ko {
          padding-left: 49.27%;
          white-space: nowrap;

          @include mb-lg {
            padding-left: 0;
          }
        }
      }
      &[data-text='3'] {
        position: absolute;
        bottom: 6rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &[data-area='5'] {
    margin-top: 26rem;

    @include mb-lg {
      margin-top: 39rem;
    }

    .text-box {
      &[data-text='1'] {
        max-width: 132rem;
        margin: 0 auto;
        padding: 10rem 2rem 11rem 2rem;
        padding-left: 66rem;

        @include mb-lg {
          max-width: unset;
          width: 100%;
          padding: 8rem 3rem 15rem 22rem;
        }
      }
    }
  }

  &[data-area='6'] {
    margin-top: 40rem;
    height: 350vh;
    background: $color__blue;

    .text-box {
      &[data-text='1'] {
        position: absolute;
        color: $color__black;
        text-align: center;
        bottom: 15%;

        .text-eng-rg {
          @include mb-lg {
            font-size: 3rem;
            line-height: 3.6rem;
          }
        }

        @include mb-lg {
          bottom: 5%;
        }
      }
    }
    .text-container {
      margin-bottom: 10vh;

      @include mb-lg {
        margin-bottom: 20vh;
      }
    }
    .horizontal-section {
      @include util__flex(center, center);
      top: 0;
      left: 0;
    }
    .img-box {
      width: 174.4rem;
      margin: 0 auto;

      @include mb-lg {
        width: 80vh;
        transform: rotate(90deg);
        margin-top: -10vh;
      }
    }
  }

  &[data-area='7'] {
    padding-top: 56rem;

    .horizontal-mover {
      &__line {
        @extend .time__text;
        white-space: nowrap;
        @include util__flex(stretch, center, 9rem);

        .text-eng-lg {
          text-transform: none;
        }
        .text-small {
          text-align: center;
        }
      }
    }
  }

  &[data-area='8'] {
    height: 200vh;
    .horizontal-section {
      @include util__flex(stretch, flex-end);
      padding: 3rem 2rem;
      top: 0;

      @include mb-lg {
        padding: 0;
      }
    }
    .img-container {
      width: 100vw;
      height: 100%;
      flex-shrink: 0;
    }
    .img-box {
      width: 30vw;
      height: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 3rem;

      @include mb-lg {
        width: 470px;
      }

      img {
        width: 100vw;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }
    .text-container {
      width: 100vw;
      flex-shrink: 0;
      margin-left: 2.86%;

      @include mb-lg {
        margin-left: 7rem;
      }
    }
    .text-box {
      white-space: nowrap;
    }
    .text-ko {
      padding-left: 34.45%;

      @include mb-lg {
        padding-left: 0;
        margin-top: 6rem;
      }
    }
  }

  &[data-area='9'] {
    overflow-x: scroll;
    // height: 500vh;
    // height: 100vh;

    .horizontal-section {
      display: flex;
    }

    .page {
      $gap: 10rem;
      padding: 4rem 0;

      &-container {
        display: flex;

        gap: 0 40rem;
        background: $color__point;
        color: $color__black;
        border-radius: 0 3rem 3rem 0;
      }

      &[data-page='1'] {
        display: flex;
        padding-left: 160rem;

        [data-text='1'] {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          .text-rg {
            margin-top: $gap;
          }
        }

        [data-text='2'] {
          .text-head-md {
            text-align: right;
          }
          .img-box {
            width: 49rem;
            margin: 0 auto;
            overflow: hidden;
            margin-top: $gap;

            img {
              border-radius: 3rem;
            }
          }
        }
      }
      &[data-page='2'] {
        display: flex;
        flex-direction: column;
        position: relative;

        .text-box {
          &[data-text='1'] {
            display: flex;
            flex-direction: column;
            height: 100%;

            .line {
              @include util__flex(stretch, center);
              &:nth-child(2) {
                margin-left: 1.3ch;
              }
            }

            .text-ko {
              flex-grow: 1;
            }
          }
        }
        .img-box {
          position: absolute;
          width: 67rem;
          top: 10%;
          right: -40%;

          img {
            border-radius: 3rem;
          }
        }
      }

      &[data-page='3'] {
        margin-left: 120rem;
        padding-right: 200vw;
        position: relative;

        [data-text='1'] {
          margin-top: $gap;
          .text-head-md {
            position: relative;
            z-index: 2;
          }
          .text-eng-rg {
            margin-top: $gap;
            padding-left: 10rem;
          }
          .text-ko {
            padding-left: 10rem;
          }
          .line {
            display: inline-block;

            &:nth-child(2) {
              transform: translateX(20rem);
            }
            &:nth-child(3) {
              transform: translateX(-9rem);
            }
          }
        }
        [data-img='1'] {
          width: 37rem;
          position: absolute;
          bottom: 4%;
          left: -37rem;
          img {
            border-radius: 3rem;
          }
        }
        [data-img='2'] {
          width: 67.4rem;
          position: absolute;
          top: 22%;
          left: 90rem;
          z-index: 3;
          img {
            border-radius: 3rem;
          }
        }
      }
    }

    .img-box .text-xs {
      margin-top: 1.4rem;
      text-align: right;
    }
  }

  &[data-area='10'] {
    width: 100%;
    height: 100vh;
  }
}

.card {
  img {
    border-radius: 3rem;
    width: 56rem;

    @include mb-lg {
      width: 35.1rem;
    }
  }

  &-slider {
    overflow-x: scroll;
    margin-top: 51rem;
    &__inner {
      @include util__flex(stretch, center, 30rem);
    }
  }
}
.time {
  position: relative;
  &__text {
    position: relative;
    z-index: 1;
    font-family: $font__Rhymes;
    font-size: 23rem;
    font-weight: 100;
    text-transform: uppercase;

    @include mb-lg {
      font-size: 16rem;
      line-height: 15rem;
    }

    &:nth-child(1) {
      margin-left: 70rem;
    }
  }
  &__deco {
    @include util__deco;
    position: absolute;
    top: 40rem;
    left: $size__padding;

    &-item {
      &:nth-child(2) {
        margin-top: 3ch;
      }
    }
  }
  &__colon {
    font-weight: 100;
    margin: 0 -1rem;
    display: inline-block;
  }
}
.clock {
  width: 25.4rem;
  height: 25.4rem;
  position: relative;
  margin: 0 auto;

  @include mb-lg {
    width: 15.2rem;
    height: 15.2rem;
  }

  &__min,
  &__sec,
  &__hour {
    transform-origin: 50%;
    transform: rotate(0);
  }
  &__text {
    @extend .text-small;
    position: absolute;
    top: 50%;
    left: calc(100% + 1.2rem);
    transform: translateY(-50%);
    white-space: nowrap;

    @include mb-lg {
      display: none;
    }
  }
  &-group {
    &-hour,
    &-sec,
    &-min {
      transform-origin: 50%;
      transform: rotate(0);
      animation-name: ani__clock;
    }

    &-hour {
      animation-duration: 43200s;
      animation-timing-function: linear;
    }
    &-sec {
      animation-duration: 60s;
      animation-timing-function: steps(60);
    }
    &-min {
      animation-duration: 3600s;
      animation-timing-function: linear;
    }
  }

  &-container {
    width: 100%;
    position: absolute;
    // top: -20rem;
    top: 0;
    left: 0;
  }

  &:nth-child(1) {
    top: -26rem;
    left: -45.5rem;
    @include mb-lg {
      top: -12rem;
      left: -10rem;
    }
  }
  &:nth-child(2) {
    top: -15rem;
    right: -46.4rem;
    @include mb-lg {
      top: -5rem;
      right: -24rem;
    }
  }
  &:nth-child(3) {
    top: -14rem;
    left: -67.5rem;
    @include mb-lg {
      top: -4rem;
      left: -22rem;
    }
  }
  &:nth-child(4) {
    top: -11rem;
    right: -57rem;
    @include mb-lg {
      top: -8rem;
      right: -12rem;
    }
  }
  &:nth-child(5) {
    top: -16rem;
    left: -52rem;
    @include mb-lg {
      top: -16rem;
      left: -32rem;
    }
  }
  &:nth-child(6) {
    top: 16rem;
    right: -37.6rem;
    @include mb-lg {
      top: 25rem;
      right: -21.6rem;
    }
  }
  &:nth-child(7) {
    top: 8rem;
    left: -10.6rem;
    @include mb-lg {
      top: 20rem;
      left: -10.6rem;
    }
  }

  &--big {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    @include mb-lg {
      width: 150rem;
    }
  }
}
.team-list {
  max-width: 132rem;
  margin: 0 auto;

  @include mb-lg {
    @include util__get-padding();
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6.4rem 2rem 11rem 2rem;
    position: relative;

    @include mb-lg {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__title {
    position: relative;
    h4 {
      @extend .text-eng;
    }

    @include mb-lg {
      padding: 4rem 6rem 4rem 1.5rem;

      h4 {
        font-size: 5.5rem;
        pointer-events: none;
      }
    }
  }
  &__main-desc {
    @extend .text-eng-md;

    @include mb-lg {
      font-size: 3.4rem;
    }
  }
  &__sub-desc {
    &:nth-child(2) {
      @extend .text-eng-rg;
      margin-top: 4rem;

      @include mb-lg {
        font-size: 2.8rem;
        line-height: 3.4rem;
        letter-spacing: -0.025em;
        margin-top: 5rem;
      }
    }
  }
  &__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    border-top: 1px solid $color__white;

    &:last-child {
      top: unset;
      bottom: 0;
    }
    @include mb-lg {
      border-top: 1px solid $color__dim;
    }
  }
  &__text-box {
    @include mb-lg {
      padding-left: 17rem;
      margin-top: 5.5rem;
      padding-bottom: 14.5rem;
    }
  }
  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-image: url('../assets/icon/plus-btn.svg#icon-minus');
    background-size: 3rem 3rem;
    background-repeat: no-repeat;
    background-position: 100% 50%;

    &[data-open='true'] {
      background-image: url('../assets/icon/plus-btn.svg#icon-plus');
    }
  }
}
.value {
  &__fromto {
    @include util__flex(center, center);
    width: 100rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);

    @include mb-lg {
      flex-direction: column;
      width: 100%;
      height: 36vh;
      justify-content: space-between;
      margin-top: -4vh;
    }
  }
  &__roller {
    flex: 1 0 0;
    position: relative;
    @include mb-lg {
      flex: none;
    }
  }
  &__cate {
    @extend .text-eng-rg;

    @include mb-lg {
      font-size: 3rem;
    }
  }
  &__item {
    position: relative;
    letter-spacing: 0.01em;
    font-family: $font__Rhymes;
    font-size: 6rem;
    font-weight: 100;
    line-height: 7.2rem;

    p {
      &:not(:first-child) {
        transform: perspective(500px) translate3d(0px, 0px, 0px) rotateX(-90deg);
        transform-origin: 50% 100%;
        position: absolute;
      }
    }

    @include mb-lg {
      font-size: 8rem;
      margin-top: 0.4rem;
    }
  }
}
